[Unit]
Description=Podman sftp.service
After=mariadb.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/sftp.pid %t/sftp.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/sftp.pid \
	--cidfile %t/sftp.ctr-id --cgroups=no-conmon \
	--replace \
	--detach \
	--name=%N \
	--volume=moh:/var/sftp/moh:z \
	--volume=sounds:/var/sftp/sounds:z \
	--volume=spool:/var/sftp/spool:z \
	--volume=sftp_ssh_config:/etc/ssh:Z \
	--env=ASTERISK_RECORDING_SFTP_PORT \
	--env=AMPMGRUSER \
	--env=AMPDBUSER \
	--env=AMPDBHOST \
	--env=AMPDBNAME \
	--env=NETHVOICE_MARIADB_PORT \
	--env-file=%S/state/passwords.env \
	--network=host \
	--tz=${TIMEZONE} \
	--hostname=${NETHVOICE_HOST} \
	${NETHVOICE_SFTP_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/sftp.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/sftp.ctr-id
PIDFile=%t/sftp.pid
Type=forking

[Install]
WantedBy=default.target
