Port 22
AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::

LoginGraceTime 2m
PermitRootLogin no
MaxAuthTries 3
MaxSessions 10

PubkeyAuthentication yes
AuthorizedKeysFile /etc/ssh/authorized_keys
PasswordAuthentication no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
UsePAM yes

Subsystem sftp internal-sftp
Match User asterisk
    ChrootDirectory /var/sftp
    ForceCommand internal-sftp
    PasswordAuthentication yes
